#div1{
  height: 90vh;
  width:80vh;
  margin-left:80px;
  border:1px solid black;
  background-color:white;
}
#div2{
  display: flex;
  justify-content: center;
  align-items: center;
 height:100vh;
 background-image:url(instaback.jpg)
}